<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Arcade-DM</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Favicons -->
    <link
      href="{{ url_for('static', filename='img/favicon-2.png') }}"
      rel="icon"
    />
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700"
      rel="stylesheet"
    />

    <!-- Bootstrap CSS File -->
    <link
      href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}"
      rel="stylesheet"
    />

    <!-- Libraries CSS Files -->
    <link
      href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/animate/animate.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/ionicons/css/ionicons.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/lightbox/css/lightbox.min.css') }}"
      rel="stylesheet"
    />
    <!-- Main Stylesheet File -->
    <link
      href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet"
    />
  </head>

  <body>
    <!--==========================
  Header
  ============================-->
    <header id="header">

      <div class="container">
        <div class="logo float-left">
          <a href="#header" class="scrollto"
            ><img
              style="margin-top: -5px; min-height: 50px;"
              src="{{ url_for('static', filename='img/logo.png') }}"
              alt=""
              class="img-fluid"
          /></a>
        </div>

        <nav class="main-nav float-right d-none d-lg-block">
          <ul>
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="plots.html">Plots</a></li>
            <li><a href="heatmaps.html">Heatmaps</a></li>
            <li><a href="satellite.html">Satellite</a></li>
            <li><a href="predicts.html">Predict</a></li>
          </ul>
        </nav>
        <!-- .main-nav -->
      </div>
    </header>
    <!-- #header -->

    <!--==========================
    Intro Section
  ============================-->
    <section id="intro" class="clearfix">
      <div class="container d-flex h-100">
        <div class="row justify-content-center align-self-center">
          <div class="col-md-5 intro-info order-md-first order-last" style="background-color: transparent;padding-right:50px;">
            <!-- <h2 style="color:#00BFFF;">Arcade-DM</h2> -->
            <a href="#header" class="scrollto"
            ><img
              style="margin-top: 0px; max-height: 150px;"
              src="{{ url_for('static', filename='img/logo.png') }}"
              alt=""
              class="img-fluid"
          /></a>
            <h3 style="padding-top:30px;padding-left:10px;line-height: 40px;">Helping prepare people and their governments, one flood prediction at a time</h3>
            <br />
            <div style="padding-left:10px;">
              <a href="#about" class="btn-get-started scrollto">Get Started</a>
            </div>
          </div>

          <div class="col-md-7 intro-img order-md-last order-first" style="background-color: transparent;">
            
            <iframe width="750" height="500" src="https://www.youtube.com/embed/4PXj7bOD7IY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </section>
    <!-- #intro -->

    <main id="main">
      <!--==========================
      About Us Section
    ============================-->
      <section id="about">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-md-6">
              <div class="about-img">
                <img
                  src="{{ url_for('static', filename='img/images.jpg') }}"
                  alt=""
                />
              </div>
            </div>

            <div class="col-lg-7 col-md-6">
              <div class="about-content">
                <h2>About Arcade-DM</h2>
                <h3>
                  A web app to help users and the government prepare for and reallocate resources for floods.
                </h3>
                <p>
                  Floods are one of the most dangerous and frequent natural
                  disasters in the world.
                </p>
                <p>
                  The Kerala floods of 2024 were a major environmental disaster, marked by severe monsoon rains that caused rivers to overflow and inundate large areas of the state. This catastrophic event led to the loss of numerous lives, displacement of thousands of residents, and extensive damage to infrastructure. Over 20,000 homes were destroyed, and critical facilities such as schools and hospitals were severely impacted. The economic damage was substantial, with losses running into billions of USD. In response, Kerala's government, along with national and international aid organizations, launched a comprehensive relief and recovery effort. This included rebuilding infrastructure, providing aid to affected families, and implementing measures to improve flood resilience. The 2024 floods highlighted the urgent need for advanced flood prediction technologies and enhanced disaster management strategies to better prepare for and respond to future extreme weather events.
                </p>
                <p>
                  To address this issue, our team developed Arcade-DM, a tool designed to predict floods and assess their impact before they occur. We present this information through an interactive graphical interface, making it both engaging and easy for individuals and governments to comprehend.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- #about -->

      <!--==========================
      Services Section
    ============================-->
      <section id="services" class="section-bg">
        <div class="container">
          <header class="section-header">
            <h3>Services</h3>
            <p>
              Our website offers many services to help people plan and prepare for floods,
              and help the government reallocate resources to those most in need.
            </p>
          </header>

          <div class="row">
            <div
              class="col-md-6 col-lg-3 wow bounceInUp"
              data-wow-duration="1.4s"
            >
              <div class="box" style="height: 320px;">
                <div class="icon" style="background: #fceef3;">
                  <i
                    class="ion-ios-analytics-outline"
                    style="color: #ff689b;"
                  ></i>
                </div>
                <h4 class="title"><a href="plots.html">View Plots</a></h4>
                <p class="description">
                  On our website, you can view plots showing flood prediction,
                  precipitation analysis, and damage analysis.
                </p>
              </div>
            </div>
            <div
              class="col-md-6 col-lg-3 wow bounceInUp"
              data-wow-duration="1.4s"
            >
              <div class="box" style="height: 320px;">
                <div class="icon" style="background: #fff0da;">
                  <i
                    class="ion-ios-bookmarks-outline"
                    style="color: #e98e06;"
                  ></i>
                </div>
                <h4 class="title"><a href="heatmaps.html">View Heatmaps</a></h4>
                <p class="description">
                  Our website also displays interactive heatmaps sharing various realtime data on floods. 
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3 wow bounceInUp"
              data-wow-delay="0.1s"
              data-wow-duration="1.4s"
            >
              <div class="box" style="height: 320px;">
                <div class="icon" style="background: #eafde7;">
                  <i
                    class="ion-ios-speedometer-outline"
                    style="color: #41cf2e;"
                  ></i>
                </div>
                <h4 class="title"><a href="satellite.html">Satellite Images</a></h4>
                <p class="description">
                  We analyzed data from NASA's GPM Project, and displayed georeferenced plots for sevaral cities.
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3 wow bounceInUp"
              data-wow-delay="0.1s"
              data-wow-duration="1.4s"
            >
              <div class="box" style="height: 320px;">
                <div class="icon" style="background: #e6fdfc;">
                  <i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i>
                </div>
                <h4 class="title"><a href="predicts.html">Predict Floods</a></h4>
                <p class="description">
                  Lastly, our website allows you to predict floods in realtime through our machine learning algorithm.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="why-us" class="wow fadeIn">
        <div class="container">
          <div class="row counters">
            <div class="col-lg-3 col-6 text-center">
              <span data-toggle="counter-up">25</span>
              <p>Percent of deaths from natural disasters attributed to floods</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
              <span data-toggle="counter-up">2.3</span>
              <p>Billion people affected by floods in the last 2 decades</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
              <span data-toggle="counter-up">40</span>
              <p>In kerela,  Over 100 lives were lost, and more than 15,000 homes were destroyed.</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
              <span data-toggle="counter-up">1</span>
              <p>It can also disrupt essential services like healthcare and education.</p>
            </div>
          </div>
        </div>
      </section>

      <!--==========================
      Frequently Asked Questions Section
    ============================-->
      <section id="faq">
        <div class="container">
          <header class="section-header">
            <h3>Frequently Asked Questions</h3>
            <p></p>
          </header>

          <ul id="faq-list" class="wow fadeInUp">
            <li>
              <a data-toggle="collapse" class="collapsed" href="#faq1"
                >Inspiration <i class="ion-android-remove"></i
              ></a>
              <div id="faq1" class="collapse" data-parent="#faq-list">
                <p>
                  According to the World Resources Institute, over 80% of India's population—approximately 1.08 billion people—are at risk of flooding. Each year, floods lead to economic losses of nearly 15 billion USD in India. For example, the recent floods in Kerala resulted in over 100 fatalities and the destruction of more than 15,000 homes and buildings. These floods occur almost annually in flood-prone regions, causing severe damage to lives and property. The main cause is the overflow of rivers, reservoirs, and other water bodies due to heavy monsoon rains. To mitigate this problem, we aim to create an effective flood prediction system for India, addressing the current gap caused by a lack of high-quality data for reliable predictions.
                </p>
              </div>
            </li>

            <li>
              <a data-toggle="collapse" href="#faq2" class="collapsed"
                >How we built it <i class="ion-android-remove"></i
              ></a>
              <div id="faq2" class="collapse" data-parent="#faq-list">

              </div>
            </li>

            <li>
              <div id="faq3" class="collapse" data-parent="#faq-list">
                <p>
                  - Developing the most comprehensive dataset for flood prediction in India.<br>
                  - Building a highly accurate ML model with over 98% precision.<br>
                  - Designing a user-friendly interface for the web app.<br>
                  - Generating detailed plots for effective data visualization.<br>
              </p>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <!-- #faq -->
    </main>

    <!--==========================
    Footer
  ============================-->
    <footer id="footer" class="section-bg" style="background-color: #f5f8fd;">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="row">
                <div class="col-sm-11">
                  <div class="footer-info">
                    <!-- <h3>Arcade-DM</h3> -->
                    <a href="index.html" class="scrollto"
                      ><img
                        style="margin-top: 0px; max-height: 100px;"
                        src="{{ url_for('static', filename='img/logo.png') }}"
                        alt=""
                        class="img-fluid"
                    /></a>
                    <p style="padding-top:20px;">
                      Arcade-DM is a tool that leverages Machine Learning and Data Visualization to display real-time flood plots and heatmaps. It also provides predictions for future floods and assesses potential damage based on location.
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form">
                <h4>Send us a message</h4>

                <form action="" method="post" role="form" class="contactForm">
                  <div class="form-group">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      id="name"
                      placeholder="Your Name"
                      data-rule="minlen:4"
                      data-msg="Please enter at least 4 chars"
                    />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      placeholder="Your Email"
                      data-rule="email"
                      data-msg="Please enter a valid email"
                    />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      name="subject"
                      id="subject"
                      placeholder="Subject"
                      data-rule="minlen:4"
                      data-msg="Please enter at least 8 chars of subject"
                    />
                    <div class="validation"></div>
                  </div>

                  <div id="sendmessage">
                    Your message has been sent. Thank you!
                  </div>
                  <div id="errormessage"></div>

                  <div class="text-center">
                    <button type="submit" title="Send Message">
                      Send Message
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->

    <!-- JavaScript Libraries -->
    <script src="{{ url_for('static', filename='lib/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/jquery/jquery-migrate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/mobile-nav/mobile-nav.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/wow/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/counterup/counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/isotope/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/lightbox/js/lightbox.min.js') }}"></script>
    <!-- Contact Form JavaScript File -->
    <script src="{{ url_for('static', filename='contactform/contactform.js') }}"></script>

    <!-- Template Main Javascript File -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
